<h1>All Students</h1>

<% @students.each do |student| %>
  <section id='student-<%= student.id %>'>
    <p>Name: <%= student.name %></p>
    <p>Cohort: <%= student.cohort %></p>
    <p>Instructor(s):
      <% student.instructors.each do |instructor| %>
        <%= link_to "#{instructor.name}", "/instructors/#{instructor.id}" %>
      <% end %>
    </p>
  </section>
<% end %>
